<%-include('partials/header') %>
    <main>
        <div class="btn-container">
            <button><a href="login">Login</a></button>
            <button><a href="register">Register</a></button>
        </div>
    </main>
<%-include('partials/footer') %>